@model MVC.Models.Wypozyczenia

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Wypozyczenia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dataWyp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataWyp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dataZwr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataZwr)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.wypozyczeniaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
