@model IEnumerable<MVC.Models.Wypozyczenia>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.dataWyp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dataZwr)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.dataWyp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dataZwr)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.wypozyczeniaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.wypozyczeniaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.wypozyczeniaId })
        </td>
    </tr>
}

</table>
